doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title AULA-VIRTUAL | 404
    link(href='/index.css', rel='stylesheet')
  body.skin-1
    .middle-box.text-center.loginscreen.animated.fadeInDown
      div
        div
          h1.logo-name
            img#logo(src='')
        h3 Ha ocurrido un error en el servidor
        p.m-t
          small
            = `Desarrollado por `
            a(href='http://www.escaleno.cl') Escaleno
    script(src='/index.js')
